<p><%= image_tag @pin.image.url(:medium) %></p>
<h1><%= @pin.title %></h1>
<p><%= @pin.description %></p>
<p>Submitted by <%= @pin.user.email %></p>

<p><%= link_to "Back Home", root_path %></p>
<p><%= link_to "Edit", edit_pin_path %></p>
<p><%= link_to "Delete", pin_path, method: :delete,
                         data: { confirm: "Are you sure?" } %></p>